# Archivos de configuración de clasp
.clasp.json
appsscript.json

# Dependencias de Node.js
/node_modules

# Archivos MacOs
.DS_Store

# Archivos de Visual Studio Code
ERP MDP PAN19 V4.code-workspace
.vscode/